- if user_signed_in?
  - if product.like_user(current_user.id)
    = button_to user_product_like_path(like, current_user, product_id: product.id), method: :delete, id: "like-button", class: "btn btn-default decrement-button", data: { disable_with: "sending..." }, remote: true do
      = image_tag("icon_heart_red.svg")
      %span
        = product.likes_count
  - else
    = button_to user_product_likes_path(current_user, product_id: product.id), id: "like-button", class: "btn btn-default", data: { disable_with: "sending..." }, remote: true do
      = image_tag("icon_heart.svg")
      %span
        = product.likes_count
- else
  = image_tag("icon_heart_red.svg")
  %span
    = product.likes_count

