.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to '#' do
      = image_tag products.images.find_by(role: 0).image
      .caption
        %h3= products.title
        .proto-meta
          .proto-user
            = link_to "by #{products.user.name}"
          .proto-posted
            = products.created_at.strftime("%b %d")
        %ul.proto-tag-list.list-inline
          %li
            %a{href: "#", class: "btn btn-default"} iPad
          %li
            %a{href: "#", class: "btn btn-default"} wireframe

